html {
	background: url('dining_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body 
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	height: 100%; width: 100%; margin: 0;
	overflow:hidden
}

nav 
{
	display: block;
	margin: 0px auto 30px;
	text-align: center;
	background: rgba(237, 246, 255, 0.7);
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
	width: 63%;
}

nav ul 
{
	margin: 0px;
	padding-left: 0px;
}

nav ul li
{
	display: inline;
	list-style: none;
	padding-left: 10px;

}

ul li a 
{
	font-size: 1.17em;
	font-weight: bold;
	color: #31708f
}

.container 
{
	position: relative;
	margin: auto;
	padding: 1rem;
	padding-bottom: 0;
	text-align: center;
	text-align: -webkit-center;
}

.animate-view {
	position: relative;
	margin-top: 25px;
}

.a-container
{
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
}
.animate-view.ng-enter,
.animate-view.ng-leave {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#eee;
}

.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }


h1 {
	display: block;
	width: 63%;
	margin: 30px auto 0px;
	font-weight: bold;
	font-size: 3.5em;
	text-align: center;
	color: #31708f;
	letter-spacing: -1px;  
	background: rgba(0, 0, 0, 0.7); /* fallback color */
	background: rgba(237, 246, 255, 0.7);
	padding: 10px; 
	border-radius: 4px 4px 0px 0px;
}

.panel 
{
	background-color: #fff;
	border-color: #bce8f1;
	border: 1px #bce8f1 solid;
	border-radius: 4px;
	font-size: 14px;
}

.panel-heading {
	text-align: left;
	font-size: 20px;
	background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 50%);
	background-repeat: repeat-x;
	color: #31708f;
	padding: 10px 15px;
	border-bottom: 1px solid #bce8f1;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-bottom: 25px;
}

.panel-title 
{
	margin-top: 0px;
	margin-bottom: 0;
}

.intro 
{
	display: inline-block;
	width: 400px;
	vertical-align: top;
}


.howto
{
	padding: 0px 20px 20px 20px;
}

.meal-details 
{
	display: inline-block;
	width: 500px;
	height: 360px;;
	vertical-align: top;
}

.input-group 
{
	vertical-align: middle;
	overflow: auto;
}

.input-group label {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
	text-align: right;
	width: 35%;;
	float: left;
}

.input-group div 
{
	float: left;
	width: 50%;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.input-group input 
{
	display: block;
	width: 100%;
	height: 25px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.actions 
{
	border-top: 0.1rem dotted #BBB;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-top: 1.5rem;
	text-align: right;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}

.btn-grey {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-green {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.earnings-results 
{
	display: inline-block;
	width: 400px;
}

.charges-results 
{
	display: inline-block;
	width: 400px;
	margin-left: 60px;
}


.cust-charges
{
	height: 170px;
	margin-bottom: 20px;
}

.cust-charges label
{
	float: left;
	width: 40%;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right
}

.cust-charges span 
{
	float: left;
	width: 30%;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

.earnings
{
	height: 250px;
}

.row
{
	display: table;
}

.earnings label
{
	float: left;
	width: 40%;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right
}

.earnings span 
{
	float: left;
	width: 30%;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}