<!DOCTYPE html>
<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="madlibstyle.css" />
		<title>ngMadLibs</title>
	</head>

	<body ng-app=''>
		<div class="madlib-container">
			<div class="smiley">
				<img src="madlibs-smiley.png">
			</div>
			<div class="logo">
				<img src="madlibs-logo.png">
				<h1>Automate This!</h1>
			</div>
			<div class="words">
				
				<h2>Provide the following words: </h3>

				<div class="input1">
					<input type="text" onclick="this.select()" placeholder="male name" ng-model="maleName">
					<input type="text" onclick="this.select()" placeholder="city name" ng-model="cityName">
					<input type="text" onclick="this.select()" placeholder="food type" ng-model="foodType">
					<input type="text" onclick="this.select()" placeholder="adjective" ng-model="adjective">
				</div>

				<div class="input2">
					<input type="text" onclick="this.select()" placeholder="strange location" ng-model="strangeLocation">
					<input type="text" onclick="this.select()" placeholder="adventure time character" ng-model="adventureTimeCharacter">
					<input type="text" onclick="this.select()" placeholder="liquid" ng-model="liquid">
					<input type="text" onclick="this.select()" placeholder="color" ng-model="color">
				</div>
			</div>
			<div class="results" ng-init="maleName='Male Name'; cityName='City Name';
			foodType='Food Type'; strangeLocation='Strange Location'; adjective='Adjective'; adventureTimeCharacter='Adventure Time Character'; liquid='Liquid'; color='Color' ">
				
				<p><span class="word">{{maleName}}</span> just moved to <span class="word">{{cityName}}</span> and heard that the <span class="word">{{foodType}}</span> scene was <span class="word">{{adjective}}</span>. <span class="word">{{maleName}}</span> decided to checkout the <span class="word">{{foodType}}</span> scene with some friends he met at a <span class="word">{{strangeLocation}}</span>.</p> 

				<p>Off they went to have some <span class="word">{{adjective}}</span> <span class="word">{{foodType}}</span> when without warning they ran into <span class="word">{{adventureTimeCharacter}}</span>. <span class="word">{{adventureTimeCharacter}}</span> told them they should check out this new <span class="word">{{foodType}}</span> place that they thought was really <span class="word">{{adjective}}</span>. </p>

				

				<p>Thinking this was completely normal <span class="word">{{maleName}}</span> said "Okay let's go!" and his friends followed. <span class="word">{{maleName}}</span> , <span class="word">{{adventureTimeCharacter}}</span> and friends had a great evening eating <span class="word">{{foodType}}</span> and drinking <span class="word">{{liquid}}</span> through a straw.</p> 

				

				<p>Suddenly the scene turned <span class="word">{{color}}</span> and <span class="word">{{maleName}}</span> woke up in a daze not sure why he was craving <span class="word">{{foodType}}</span> and <span class="word">{{liquid}}</span>.</p>

				<p>The End!</p>

				
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
	</body>
</html>