body{
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.madlib-container
{
	margin: 50px auto;
	border: 1px solid;
	width: 1000px;
	overflow: auto;
}

.smiley 
{
	float: left;
	padding: 10px 30px;
	border: 1px solid;
	width: 136px;
}

.smiley img {
	height: 142px;
}

.logo
{
	float: right;
	padding: 10px 10px;
	border: 1px solid;
	text-align: center;
	width: 780px;

}

.logo img {

	height: 65px;
}

h1 {
	display: block;
	margin: 5px auto;
	font-weight: normal;
	font-size: 3.5em;
}

.words 
{
	border: 1px solid;
	padding: 10px 100px;
	clear: both;
	overflow: auto;
	text-align: center;
}

.word
{
 	color: #8f1133 ;
 	text-decoration: underline
}

.results 
{
	border: 1px solid;
	padding: 10px 100px;
	clear: both;
	font-size: 1.5em;
}

.input1
{
	float: left;
	width: 50%;
}

.input2
{
	float: right;
	width: 50%;
}

 input {
	display: block;
	width: 70%;
	margin:20px 20px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.input2 input {
	display: block;
	margin:20px auto;
}