
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Instagram Searcher</title>
		<meta name="description" content="Instagram-App">
		<link rel="stylesheet" href="style.css">
				  <!--[if lt IE 9]>
				  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				  <![endif]-->
	</head>

	<body ng-app='instagramSearchApp'>
		<div  ng-controller='InstagramSearchController'>
			<img class='searcher-img' src='ng-instagram.png' alt='Instagram Searcher'>
			<div class='formDiv'>
				<form name='searchForm' ng-submit="submit()" novalidate>
					<input type="text" name="searchTag" ng-model="data.search" placeholder="Enter a tag to search" autofocus required>
					<button type='submit' class='btn btn-green'>Submit</button>
				</form>
			</div>
			<div id='notification'>
				{{data.notification}}
			</div>
			<div id='results' class='resultsDiv'>
				<a ng-repeat='image in images' href='{{image.link}}' >
					<img class='resultImg' ng-src='{{image.images.low_resolution.url}}'>
				</a>			
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>