<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Waiter Earnings Calculator</title>
	<meta name="description" content="Waiter Earnings Calculator">
	<link rel="stylesheet" href="style.css">
		  <!--[if lt IE 9]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		  <![endif]-->
		</head>

		<body ng-app='waitStaffCalcApp'>
			<div class='container' ng-controller='CalcController'>
				<h1>Waitstaff Calculator</h1>
				<div class='meal-details panel'>
					<div class='panel-heading'>
						<h3 class='panel-title'>Enter the Meal Details</h3>
					</div>
					<form  ng-submit='submit()' name='calcForm'>
						<div class='input-group' novalidate>
							<label>Base Meal Price:</label>
							<div>
								<input type='number' placeholder='$0.00' ng-model='data.mealPrice' autofocus required>
							</div>
						</div>
						<div class='input-group'>
							<label>Tax Rate:</label>
							<div>
								<input type='number' placeholder='%' ng-model='data.taxRate' required>
							</div>
						</div>
						<div class='input-group'>
							<label>Tip Percentage:</label>
							<div>
								<input type='number' placeholder='%' ng-model='data.tipPercent' required>
							</div>
						</div>
						<div class='actions'>
							<button type='button' class='btn btn-grey' ng-click='clear()'>Clear</button>
							<button type='submit' class='btn btn-green'>Submit</button>
						</div>
					</form>

				</div>
				<div class='results'>
					<div class='cust-charges panel'>
						<div class='panel-heading'>
							<h3 class='panel-title'>Customer Charges</h3>
						</div>
						<div class='row'>
							<label>Subtotal:</label> <span>{{data.subTotal | currency}}</span>

							<label>Tip:</label> <span>{{data.tip | currency}}</span>

							<label>Total:</label> <span>{{data.total | currency}}</span>	
						</div>
					</div>
					<div class='earnings panel'>
						<div class='panel-heading'>
							<h3 class='panel-title'>My Earnings</h3>
						</div>
						<div class='row'>
							<label>Tip Total:</label> <span>{{data.tipTotal | currency}}</span>

							<label>Meal Count:</label> <span> {{data.mealCount}}</span>

							<label>Avg. Tip/Meal:</label> <span>{{data.tipAvg | currency}}</span>	
						</div>
						<div class='actions'>
							<button type='button' ng-click='reset()' class='btn btn-grey'>Reset</button>
						</div>
					</div>
				</div>

			<script type="text/javascript" src="angular.min.js"></script>
			<script src="app.js"></script>
		</body>
		</html>